<div class="container" id="aboutpage">

<h1>Active Gear Garmisch</h1>
<h2>Time to do what you love</h2>

<h3>About Our Shop:</h3>
<p>Top of the line new outdoor gear by European and International brandnames.</p>

<p>Used brand name products in good condition at low prices.</p>

<p>Knowledgeable and courteous staff. All of us have a passion for the outdoors and healthy living.</p>

<p>The date and time is <%= Time.now %></p>

</div> <!-- end about page container -->


