<h1>Active Gear Garmisch</h1>
<h2>Your definitive source for new and used outdoors gear in Garmisch-Partenkirchen</h2>

<h2>Contact details</h2>

<ul>
	<li>Located in the pedestrian zone at 14 Bahnhoffstr.</li>
	<li>Phone: 0152-553-7895</li>
	<li>Email: garmischgear@gmail.com</li>



<p>The date and time is <%= Time.now %></p>
