<div class="container" id="contactpage">
	<div class="row">

  <div class="col-md-3 col-sm-4">
  <div class="header" id="contactheader">
  	<h2>Contact us</h2>
	</div>

<ul>
	<li>Located in the pedestrian zone at 14 Bahnhoffstr.</li>
	<li>Phone: 0152-553-7895</li>
	<li>Email: garmischgear@gmail.com</li>
</ul>
	</div>

  <div class="col-md-9 col-sm-8">
  <div class="header" id="contactform">

  	<h2>Form will go here</h2>

</div>
</div> <!-- end of col-sm-8 -->
</div> <!-- end of row -->


</div> <!-- end of contactpage div -->
