
<div class="header" id="shoppage">
	<h1> Products </h1>
</div> <!-- end header -->

<div class="container" id="shoppage">
	<div class=“row”>
  <div class=“col-sm-4 col xs-12”>
  	<div class="product_description">
  		<h2> Coming Soon!</h2>
  	</div> <!-- end product_description -->
  	</div> <!-- end col-sm-4 col xs-12 -->

  <div class=“col-sm-4 col xs-12”>
  	<div class="product_description">
  		<h2> Coming Soon!</h2>
  	</div><!-- end product_description -->
  	</div><!-- end col-sm-4 col xs-12 -->

  <div class=“col-sm-4 col xs-12”>
  	<div class="product_description">
  		<h2> Coming Soon!</h2>
  	</div><!-- end product_description -->
  	</div><!-- end col-sm-4 col xs-12 -->

</div> <!-- end row -->
</div> <!-- end shoppage container -->
