// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  padding-bottom: 60px;
}
/*ensures nav bar does not cover page content*/
/*ensures footer does not cover page content*/

html, body {
  height: auto;
}

.navbar-inverse {
	background-color: #1c1c1c;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	border-color: inherit;
}

.navbar-inverse .navbar-brand {
	color: #ffc423;
} /*sets color for brand*/

/*.navbar-default .navbar-brand>a:hover {
	color: #ffc423;
}*/

.navbar-inverse .navbar-nav>li>a {
	color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffc423;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	color: #ffc423;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #fff;
	background-color: #1c1c1c;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
background-color: transparent;
} /*Removes focus box*/
	.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #ffc423;
} /*Sets hover color, and makes color constant for brand*/

// .nav-search {margin-top:12px;}

.minibutton-search {
	margin-top: 1.1em;
	font-size: 10px;
	color: black;
	height: 22px;
	float: right;
	background-color: #ffc423;
  border: none;
}

.form-group {
	margin-bottom: 0px;
	margin-top: 1.1em;
	display: inline-block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 28px;
}

.form-control {
	font-size: 10px;
	margin-top: 1.1em;
	height: 22px;
	border-radius: 0;
}

.input-group .form-control {
	width: 33%;
	
}

h1 {
	text-transform: uppercase;
	font-family: "Roboto", Open Sans, Arial;
	font-weight: 100;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.1em;
	color: #1c1c1c;
	// text-align: center;
}

#header {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-family: "Roboto", Open Sans, Arial;
	font-weight: 100;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 0.1em;
	color: #1c1c1c;
}

/*Product Page*/

#productheader {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 82.5px;
	margin-right: 82.5px;
}

#productheader, h1 {
	padding-bottom: 20px;
}

.col-xs-12 col-sm-4, p {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Garmisch Gear Page*/
.container-fluid, #landing_img {
	padding-left: 0px;
	padding-right: 0px;
	display: inline-block;
}

/*Landing Page*/
.carousel {
	margin: auto;
	position: relative;
}

.pagebody, #landingpage {
	margin: 0px;
} /*takes out scaffolding aut 33px margin*/

/*.carousel-inner > .item > img {
       width:1024px;
       height:768px;
     }*/

.carousel-caption h2 {
	padding-bottom: 15%;
	font-family: "Display", serif;
	text-shadow: none;
	font-size: 4em;
	color: #fff;
	line-height: 1em;
}

@media (max-width:767px) {
	.carousel-caption h2 {
		font-size: 2em;
	}
}

@media (max-width:481px) {
	.carousel-caption h2 {
		font-size: 1.5em;
	}
}

@media (max-width:320px) {
	.carousel-caption h2 {
		font-size: 1em;
	}
}

.header-landing-page {
	padding: .5em; 
	background-color: rgba(0, 0, 0, 0.4);
	display: block;
}

.carousel-caption span {
	display: block;
	font-size: .5em;
}

 /*Contact Page*/
#contactheader, ul {
  padding-left: 0;
}

/*Footer*/
#footer {
	background-color: #1c1c1c;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
	position: bottom;
}

#footer .container-fluid {
	width:100%;
}

#indexpage {
	text-align: center;
}

/*#shoppage {
	text-align: center;
}*/

/*About Page*/
#aboutpage {
	text-align: center;
}

#aboutpage, h1 {
	padding: 0px;
}

#aboutpage, h2 {
	font-size: 24px;
}

#aboutpage .img-responsive {
	display: inline-block;
}

/*Contact Page*/
#contactform {
	padding-left: 15%;
}

/*Register Page*/
#registerpage {
	text-align: center;
}

/*Login Page*/
#loginpage {
	text-align: center;
}

/*Fonts*/
.navbar-inverse {
	font-family: Lato, Futura, Arial;
	text-transform: uppercase;
}

.text-muted {
	color: #ffc423;
	font-family: Lato, "Roboto", Futura, Arial;
}


