// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  padding-bottom: 60px;
}
/*ensures nav bar does not cover page content*/
/*ensures footer does not cover page content*/

html, body {
  height: auto;
}

.navbar-inverse {
	background-color: #1c1c1c;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	border-color: inherit;
}

.navbar-inverse .navbar-brand {
	color: #ffc423;
} /*sets color for brand*/

/*.navbar-default .navbar-brand>a:hover {
	color: #ffc423;
}*/

.navbar-inverse .navbar-nav>li>a {
	color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffc423;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	color: #ffc423;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #fff;
	background-color: #1c1c1c;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
background-color: transparent;
} /*Removes focus box*/
	.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #ffc423;
} /*Sets hover color, and makes color constant for brand*/

h1 {
	text-transform: uppercase;
	font-family: "Roboto", Open Sans, Arial;
	font-weight: 100;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.1em;
	color: #1c1c1c;
}

h2 {
	text-transform: uppercase;
	font-family: "Roboto", Open Sans, Arial;
	font-weight: 100;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 0.1em;
	color: #1c1c1c;
}

/*Product page*/

#productheader {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 82.5px;
	margin-right: 82.5px;
}

#productheader, h1 {
	padding-bottom: 20px;
}

.col-xs-12 col-sm-4, p {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

	/*Landing page*/

 .container-fluid, #landing_image {
	padding-left: 0px;
	padding-right: 0px;
}

  /*Contact Pate*/
  #contactheader, ul {
  	padding-left: 0;
  }

	/*footer*/

#footer {
	background-color: #1c1c1c;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
	position: bottom;

}

#footer .container-fluid {
	width:100%;

}

#indexpage {
	text-align: center;
}

/*#shoppage {
	text-align: center;
}*/

#aboutpage {
	text-align: center;
}

#contactform {
	padding-left: 15%;
}

#registerpage {
	text-align: center;
}

#loginpage {
	text-align: center;
}

.pagebody, #landingpage{
	margin: 0px;
} /*takes out scaffolding aut 33px margin*/

	/*Fonts*/
.navbar-inverse {
	font-family: Lato, Futura, Arial;
	text-transform: uppercase;
}

.text-muted {
	color: #ffc423;
	font-family: Lato, "Roboto", Futura, Arial;
}


